/* fonts import from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
/*font-family: 'Aldrich', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');
/* font-family: 'Alegreya Sans', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Bahiana&display=swap');
/* font-family: 'Bahiana', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Athiti&display=swap');

/* font-family: 'Athiti', sans-serif; */
/* project colors scheme */
:root {
    --text-color: #353535;
    --button-color: #2A9D8F;
    --highlight-color: #f05d38;
    --extra-color: #F4A261;

}

/* global styling */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;


}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 3.5rem;
    font-size: 17px;
    overflow-x: hidden;
}

body {

    background-color: #fdfffc;
}

/* header section including the media queries */
header {
    position: sticky;
    top: 0;
    background-color: rgba(128, 128, 128, 0.047);
    z-index: 999;


}

nav a {
    text-decoration: none;


}

nav ul {
    list-style: none;
}

header {
    display: flex;
    background-color: #252422;
    justify-content: space-between;
    padding: 1rem 0;
    align-items: center;
    max-height: 60px;

}

header .logo {
    font-family: 'Aldrich', sans-serif;
    margin-left: 3rem;
    color: #eee;
    margin-top: 5px;




}


header .logo span {
    color: var(--highlight-color);

}

.nav__list {
    display: flex;
    align-items: center;
    font-family: 'Alegreya Sans', sans-serif;
    /* font-size: 1.2rem; */



}

.nav__item {
    margin: 0 8px;

}

.nav__link {
    padding: 10px;
    font-size: 1.2rem;
    color: #eee;
}

.nav__link:hover {
    color: var(--extra-color);
    transition: ease .2s;
}

.header__toggle,
.header__close {
    display: none;
    font-size: 1.6rem;


}

.header__close:hover,
.header__toggle:hover {
    background-color: var(--highlight-color);

}


.nav__list .btn {
    background-color: var(--button-color);
    color: #eee;
    padding: 5px 16px;
    border-radius: 16px;
    transition: all ease .3s;



}

/* Tablets portrait Responsive deign  */

@media only screen and (min-width:426px) and (max-width:768px) {
    header {
        height: 40px;
        justify-content: space-between;
        padding: 0 28px;
    }

    .logo {
        font-size: .8rem;
        position: relative;
        right: 2rem;


    }



    .nav__link {
        font-size: .9rem;
    }

    .nav__list .btn {
        font-size: .8rem;
    }



    /*  */


}

/* phones */
@media only screen and (max-width:650px) {
    .header__toggle {
        display: inline;
        font-size: 1.8 rem;
        color: #eee;
    }

    .header__close {
        position: absolute;
        right: 24px;
        display: block;
        font-size: 1.8rem;
        border-radius: 50%;
    }

    .nav {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: #252422;
        color: #eeeeee;
        width: 50%;
        height: 100vh;
        padding: 24px 0;
        z-index: 100;
        transition: 0.5s;
        border-radius: 0 0 0 78%;

    }

    .logo {
        font-size: .7rem;
        position: relative;
        right: 30px;

    }

    .nav__list {
        flex-direction: column;
    }

    .nav__item {
        margin: 2rem 0;
    }

    .show {
        right: 0;
    }

    .nav__link {
        font-size: .7rem;
    }

    .nav__list .btn {
        font-size: .7rem;
    }
}

/* end of navbar */
/* end of navbar */
/* end of navbar */
/* end of navbar */
/* end of navbar */
/* end of navbar */
/* end of navbar */
/* end of navbar */
/* end of navbar */
/* end of navbar */
/* end of navbar */
/* end of navbar */
/* end of navbar */
/* end of navbar */
/* end of navbar */
/* end of navbar */
/* end of navbar */
/* end of navbar */
/* end of navbar */
/* end of navbar */
/* end of navbar */
/* end of navbar */
/* end of navbar */
.content-one {
    display: none;
}

.content-two {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    overflow: hidden;
}


.content-two .text-area {
    width: 500px;
    margin-top: 8rem;

}

.content-two .text-area>* {
    margin: .4rem 3rem;
}

.content-two .text-area h3 {
    font-size: 1rem;
    font-family: 'Bahiana', cursive;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--text-color);
}

.content-two .text-area h2 {
    width: 400px;
    font-size: 3rem;
    font-family: 'Bahiana', cursive;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--text-color);

}

.content-two .text-area h2 span {
    color: var(--highlight-color);
}

.content-two .text-area p {
    font-family: 'Athiti', sans-serif;
    max-width: 320px;

}

.content-two .text-area button {
    user-select: none;
    -webkit-user-select: none;
    margin-top: 2rem;
    background-color: var(--button-color);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    margin-right: 4rem;
    padding: 8px 20px;
    width: 160px;
    text-align: center;
    transition: ease-out all .2s;
}

.content-two .text-area button:hover {
    /* color: #fff;
    background-color: #1A1A1A; */
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.content-two .text-area button:active {
    box-shadow: none;
    transform: translateY(0);
}

.content-two img {
    width: 500px;
    height: auto;
    position: relative;
    top: 1rem;
    right: 4rem;
}




/* Tablets portrait Responsive deign  */

@media only screen and (min-width:426px) and (max-width:912px) {
    .text-area {
        margin-left: 3rem;
    }

    .content-two .text-area>* {
        margin: .4rem 8rem;
    }

    .content-two .text-area p {
        font-size: .7rem;

    }

    .content-two .text-area h2 {
        font-size: 2.5rem;
    }

    .content-two .text-area h3 {
        font-size: .8rem;
    }

    .content-two img {
        width: 450px;
    }

}




/* phones home page responsive */
@media only screen and (max-width:650px) {
    .content-two {
        display: none;
    }

    .content-one {
        overflow-x: hidden !important;
        display: block;



    }

    .content-one h2 {
        font-size: 2.3rem;
        font-family: 'Bahiana', cursive;
        font-style: normal;
        font-weight: 400;
        text-align: center;
        margin-top: 1rem;


    }

    .content-one h2 span {
        color: var(--highlight-color);
    }

    .content-one img {
        width: 300px;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
    }

    .content-one p {
        font-family: 'Athiti', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: .8rem;
        max-width: 250px;

        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 1rem;
        line-height: 1.9;
    }

    .content-one button {
        display: block;
        margin-left: auto;
        margin-right: auto;
        user-select: none;

        margin-bottom: 1rem;
        background-color: var(--button-color);
        border: none;
        border-radius: 10px;
        color: white;
        cursor: pointer;
        font-size: 14px;
        padding: 8px 17px;
        width: 160px;
        text-align: center;
        transition: ease-out all .2s;
    }

    .content-one button:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-2px);
    }

    .content-one button:active {
        box-shadow: none;
        transform: translateY(0);
    }
}


/* end of home section */
/* end of home section */
/* end of home section */
/* end of home section */
/* end of home section */
/* end of home section */
/* end of home section */
/* end of home section */


/* laptops screens */
.fab:hover {
    transform: scale(1.5);
    /* transform: rotate(30deg); */
}

@media only screen and (min-width:980px) and (max-width:1440px) {
    .temporary-heading {
        display: none;
    }

    .about {
        display: flex;
        justify-content: space-around;
        width: 100%;
        overflow: hidden;
    }

    .about img {
        width: 500px;
    }

    .about .text-area {
        width: 500px;
        margin-top: 8rem;
    }

    .about .text-area>* {
        margin: 1rem 3rem;
    }

    .about .text-area .permanent-heading {
        font-size: 3rem;
        font-family: 'Bahiana', cursive;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: var(--text-color);
    }

    .about .text-area p {
        font-family: 'Athiti', sans-serif;


    }

    .social {
        position: relative;
        left: 1rem;
    }

    .fab {
        padding: 0px 6px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin-top: 50px;
        /* font-weight: 600; */
        position: relative;
        right: 20px;
        transition: all ease-out .3s 0s;

    }

    .fa-instagram {
        color: #fb3958;
        border-radius: 50%;

    }

    .fa-twitter-square {
        color: #1DA1F2;
        border-radius: 50%;

    }

    .fa-github-square {
        color: #0d1b2a;
        border-radius: 50%;

    }

}

/* tablet screens */
@media only screen and (min-width:651px) and (max-width:980px) {
    .temporary-heading {
        display: none;
    }

    .about {
        display: flex;
        justify-content: space-around;
        width: 100%;
        overflow-x: hidden;
    }

    .about img {
        width: 350px;
    }

    .about .text-area {
        width: 500px;
        margin-top: 8rem;
    }

    .about .text-area>* {
        margin: 1rem 3rem;
    }

    .about .text-area .permanent-heading {
        font-size: 2.3rem;
        font-family: 'Bahiana', cursive;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: var(--text-color);
    }

    .about .text-area p {
        font-family: 'Athiti', sans-serif;
        width: 280px;
        font-size: .8rem;


    }

    .social {
        position: relative;
        left: 1rem;
        bottom: 1.5rem;
    }

    .fab {
        padding: 0px 6px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin-top: 50px;
        /* font-weight: 600; */
        position: relative;
        right: 20px;
        transition: all ease-out .3s 0s;

    }

    .fa-instagram {
        color: #fb3958;
        border-radius: 50%;

    }

    .fa-twitter-square {
        color: #1DA1F2;
        border-radius: 50%;

    }

    .fa-github-square {
        color: #0d1b2a;
        border-radius: 50%;

    }


}

/* phones about page responsive */
@media only screen and (min-width:250px) and (max-width:650px) {
    .about {
        overflow-x: hidden !important;
    }

    /* hiding the permaenet h2 title so that there's not two of them */
    .about .text-area .permanent-heading {
        display: none;
    }

    .about .temporary-heading {
        display: block;
        font-size: 2.3rem;
        font-family: 'Bahiana', cursive;
        font-style: normal;
        font-weight: 400;
        text-align: center;
        margin-top: 3rem;
        color: var(--text-color);
    }

    .about img {
        width: 300px;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
    }


    .about .text-area {
        overflow-x: hidden !important;
        max-width: 650px;




    }

    .about .text-area p {
        font-family: 'Athiti', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: .8rem;
        color: var(--text-color);
        line-height: 1.9;
        text-align: center;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;



    }

    .social {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
        position: relative;
        left: 1rem;

    }

    .fab {
        padding: 0 6px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin-top: 50px;
        /* font-weight: 600; */
        position: relative;
        right: 20px;
        transition: all ease-out .3s 0s;

    }

    .fa-instagram {
        color: #fb3958;
        border-radius: 50%;

    }

    .fa-twitter-square {
        color: #1DA1F2;
        border-radius: 50%;

    }

    .fa-github-square {
        color: #0d1b2a;
        border-radius: 50%;

    }

}


/* start of projects section */
/* start of projects section */
/* start of projects section */
/* start of projects section */
/* start of projects section */
/* start of projects section */
/* start of projects section */
/* start of projects section */
/* start of projects section */
.projects .title h2 {
    margin-top: 3rem;
    margin-bottom: 3rem;

    font-size: 3rem;
    font-family: 'Bahiana', cursive;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--text-color);
    text-align: center;
}

.projects .title h2 span {
    color: var(--highlight-color);
}





.card {
    position: relative;
    left: 20%;
    width: 300px;
    height: 200px;
    margin-bottom: 3rem;
    /* background-color: #023047; */
    /* -webkit-backdrop-filter: blur(500px);
    backdrop-filter: blur(500px); */

    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card a {
    text-decoration: none;
}

.card h6 {
    color: var(--text-color);

    position: absolute;
    bottom: 20px;
    text-align: center;
}

.card img {
    width: 350px;
    height: auto;

    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
    transform: rotateX(0deg);
}

.card__title {
    margin: 0;
    font-size: 24px;
    font-family: 'Bahiana', cursive;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--highlight-color);
}

.card__description {
    color: var(--text-color);
    font-family: 'Athiti', sans-serif;
    font-size: 14px;
    margin-top: .4rem;


}

/* .card:hover svg {
    scale: 0;
} */

.card-2 {
    position: relative;
    left: 60%;
    bottom: 4rem;
    width: 300px;
    height: 200px;
    margin-bottom: 3rem;
    /* background-color: #023047; */
    /* -webkit-backdrop-filter: blur(500px);
    backdrop-filter: blur(500px); */

    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card-2 a {
    text-decoration: none;
}

.card-2 h6 {
    color: var(--text-color);

    position: absolute;
    bottom: 20px;
    text-align: center;
}

.card-2 img {
    width: 300px;
    height: auto;

    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card-2:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card-2:hover .card__content-2 {
    transform: rotateX(0deg);
}

.card__title-2 {
    margin: 0;
    font-size: 24px;
    font-family: 'Bahiana', cursive;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--highlight-color);
}

.card__description-2 {
    color: var(--text-color);
    font-family: 'Athiti', sans-serif;
    font-size: 14px;
    margin-top: .4rem;


}


/* card-3 */
.card-3 {
    position: relative;
    left: 10%;
    bottom: 4rem;
    width: 320px;
    height: auto;
    margin-bottom: 3rem;
    /* background-color: #023047; */
    /* -webkit-backdrop-filter: blur(500px);
    backdrop-filter: blur(500px); */

    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card-3 a {
    text-decoration: none;
}

.card-3 h6 {
    color: var(--text-color);

    position: absolute;
    bottom: 20px;
    text-align: center;
}

.card-3 img {
    width: 300px;
    height: auto;

    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card-3:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card-3:hover .card__content-3 {
    transform: rotateX(0deg);
}

.card__title-3 {
    margin: 0;
    font-size: 24px;
    font-family: 'Bahiana', cursive;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--highlight-color);
}

.card__description-3 {
    color: var(--text-color);
    font-family: 'Athiti', sans-serif;
    font-size: 14px;
    margin-top: .4rem;


}


/* tablets screens */
/* tablets screens */
/* tablets screens */


@media only screen and (max-width:768px) {
    .card img {
        width: 250px;
    }

    .card-2 img {
        width: 200px;
    }

    .card-3 img {
        width: 200px;
    }
}

@media only screen and (max-width:680px) {
    .card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        left: 0px;
    }

    .card-2 {
        position: relative;
        left: 0;
    }

    .card-3 {
        position: relative;
        left: 0;
    }

    .card img {
        width: 250px;
    }

    .card-2 img {
        width: 200px;
    }

    .card-3 img {
        width: 200px;
    }
}